<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Pdf</title>
</head>
<body>
<h1 align="center">CERN ALICE</h1>
<div align="center">
<h2>The virtual temperature of the reactor </h2>
</div>
<table style="height: 700px;width: 90%;border-collapse: collapse;margin-left:5%;font-size: 15px">
<tr style="background: CornflowerBlue">
<td style="width: 60%;border: 2px solid black"><%= data[0]%></td>
<td style="width: 40%;border: 2px solid black"> <%= temp[0]%> С°</td>
</tr>
<tr>
<td style="width: 60%;border: 2px solid black"><%= data[1]%></td>
<td style="width: 40%;border: 2px solid black"> <%= temp[1]%> С°</td>
</tr>
<tr style="background: CornflowerBlue">
<td style="width: 60%;border: 2px solid black"><%= data[2]%></td>
<td style="width: 40%;border: 2px solid black"><%= temp[2]%> С°</td>
</tr>
<tr>
<td style="width: 60%;border: 2px solid black"><%= data[3]%></td>
<td style="width: 40%;border: 2px solid black"> <%= temp[3]%> С°</td>
</tr>
<tr style="background: CornflowerBlue">
<td style="width: 60%;border: 2px solid black"><%= data[4]%></td>
<td style="width: 40%;border: 2px solid black"> <%= temp[4]%> С°</td>
</tr>
<tr>
<td style="width: 60%;border: 2px solid black"><%= data[5]%></td>
<td style="width: 40%;border: 2px solid black"><%= temp[5]%> С°</td>
</tr>
<tr style="background: CornflowerBlue">
<td style="width: 60%;border: 2px solid black"><%= data[6]%></td>
<td style="width: 40%;border: 2px solid black"> <%= temp[6]%> С°</td>
</tr>
<tr>
<td style="width: 60%;border: 2px solid black"><%= data[7]%></td>
<td style="width: 40%;border: 2px solid black"> <%= temp[7]%> С°</td>
</tr>
<tr style="background: CornflowerBlue">
<td style="width: 60%;border: 2px solid black"><%= data[8]%></td>
<td style="width: 40%;border: 2px solid black"><%= temp[8]%> С°</td>
</tr>
<tr>
<td style="width: 60%;border: 2px solid black"><%= data[9]%></td>
<td style="width: 40%;border: 2px solid black"><%= temp[9]%> С°</td>
</tr>
<tr style="background: CornflowerBlue">
<td style="width: 60%;border: 2px solid black"><%= data[10]%></td>
<td style="width: 40%;border: 2px solid black"><%= temp[10]%> С°</td>
</tr>
<tr>
<td style="width: 60%;border: 2px solid black"><%= data[11]%></td>
<td style="width: 40%;border: 2px solid black"><%= temp[11]%> С°</td>
</tr>
<tr style="background: CornflowerBlue">
<td style="width: 60%;border: 2px solid black"><%= data[12]%></td>
<td style="width: 40%;border: 2px solid black"> <%= temp[12]%> С°</td>
</tr>
</table>
</body>
</html>
